<template>
    <div class="product-list">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>Shopping List</span>
            </div>
            <el-row :gutter="20">
                <el-col v-for="product in products" :span="12" class="mb-4">
                    <el-card class="box-card">
                        <h4>{{product.name}}</h4>
                        <h6>$ {{product.price}}</h6>
                        <el-button type="success" plain @click="addToCart(product.id)" class="mt-3">
                            Add to cart
                        </el-button>
                    </el-card>
                </el-col>
            </el-row>
        </el-card>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                products: null,
            };
        },
        mounted() {
            this.getProducts();
        },
        methods: {
            getProducts() {
                axios.get('/products')
                    .then(response => {
                        this.products = response.data.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            addToCart(id) {
                axios.post('cart/'+ id +'/add')
                    .then(response => {
                        const h = this.$createElement;

                        this.$notify({
                            message: response.data.message,
                        });
                        this.$emit('cart-update')
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        }
    }
</script>
