<template>
    <div class="container">
        <el-row :gutter="20">
            <el-col :span="16">
                <product-list v-on:cart-update="getCart"></product-list>
            </el-col>
            <el-col :span="8" v-if="cart">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>Your Cart</span>
                        <span class="float-right">Total: $ {{totalPrice}}</span>
                    </div>
                    <el-row :gutter="20" v-if="cart">
                        <el-col v-for="product in cart.products" :span="24" class="mb-2">
                            <el-card class="box-card">
                                <h6>{{product.name}}</h6>
                                <h6>$ {{product.price}}</h6>
                                <el-input-number size="mini"
                                                 class="mr-2"
                                                 v-model="product.count"
                                                 @change="productCountUpdate(product)"
                                                 :min="1">
                                </el-input-number>
                                <el-button size="mini"
                                           class="mr-2"
                                           type="danger"
                                           icon="el-icon-delete"
                                           @click="removeFromCart(product.id)"
                                           circle>
                                </el-button>
                                <span>$ {{(product.price * product.count).toFixed(2)}}</span>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>
    import axios from 'axios';
    import _     from 'lodash';

    export default {
        data() {
            return {
                cart: null,
            };
        },
        mounted() {
            this.getCart();
        },
        computed: {
            totalPrice() {
                let products = this.cart.products;
                let totals = _.map(products, product => product.price * product.count);
                return _.sum(totals).toFixed(2);
            }
        },
        methods: {
            getCart() {
                axios.get('/cart/products')
                    .then(response => {
                        this.cart = response.data.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            removeFromCart(id) {
                axios.post('cart/'+ id +'/remove')
                    .then(response => {
                        this.cart = this.getCart();
                        this.notify(response.data.message);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            productCountUpdate(product) {
                axios.post('cart/'+ product.id +'/update-count', {count: product.count})
                    .then(response => {
                        this.notify(response.data.message);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            notify(message) {
                const h = this.$createElement;

                this.$notify({
                    message: message,
                });
            }
        }
    }
</script>
